<img src="http://via.placeholder.com/300x200" alt="photo">
<p><strong>Описание товара</strong></p>
<p>{{ product.description }}</p>
<p>Цена <strong>{{ product.price }} руб.</strong></p>
<button class="by-btn">Купить</button>